<!DOCTYPE HTML>
<html>
	<head>
		<title>Accueil</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link rel="stylesheet" href="./assets/css/main.css"/>
	</head>
	<body class="landing is-preload">
		<div
			id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<h1>
					<a href="index.php">Nom du site</a>
				</h1>
				<nav id="nav">
					<ul>
						<li>
							<a href="index.php">Home</a>
						</li>
						<li>
							<a href="{{ path('jeux_index') }}">CRUD jeux admin</a>
						</li>
						<li>
							<a href="#">Liste complète des jeux</a>
						</li>
						<li>
							<a href="{{ path('app_register') }}" class="button">S'inscrire</a>
						</li>
						 ou
						<li>
							<a href="{{ path('app_login') }}" class="button">Se connecter</a>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
				<h2>Nom du site</h2>
				<p>Le top des jeux sur PC du moment !</p>
				<ul class="actions special">
					<li>
						<a href="{{url('app_register')}}" class="button primary">S'inscrire</a>
					</li>
					<li>
						<a href="#jeux" class="button">Nos meilleurs jeux</a>
					</li>
				</ul>
			</section>

			<!-- Main -->
			<section id="main" class="container">

				<section class="box special">
					<header class="major">
						<h2>La liste des meilleurs jeux PC du moment</h2>
						<div class="jumbotrom text-center">
							<p>Bonjour à tous, et bienvenue sur la page d'accueil du site</p>
						</br>
						<p>Voici les jeux les plus joué du moment sur PC</p>
					</div>
				</header>
				<span class="image featured"><img src="images/pic1.png" alt=""/></span>
			</section>

			<section id="jeux" class="box special features">
				<div class="features-row">
					<section>
						<h3>

						</h3>
					</section>
					<section>
						<span class="icon solid major fa-chart-area accent3"></span>
						<h3>Ipsum dolor</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon solid major fa-cloud accent4"></span>
						<h3>Sed feugiat</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
					<section>
						<span class="icon solid major fa-lock accent5"></span>
						<h3>Enim phasellus</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
				</div>
			</section>

			<div class="row">
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="images/pic02.jpg" alt=""/></span>
						<h3>Sed lorem adipiscing</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions special">
							<li>
								<a href="#" class="button alt">Learn More</a>
							</li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="images/pic03.jpg" alt=""/></span>
						<h3>Accumsan integer</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions special">
							<li>
								<a href="#" class="button alt">Learn More</a>
							</li>
						</ul>
					</section>

				</div>
			</div>

		</section>

		<!-- CTA -->
		<section id="cta">

			<h2>Inscrivez-vous pour connaître l'actualité des jeux !</h2>
			<p>Votre inscription vous donnera les droits pour noter et commenter notre liste, ce qui rendra plus persistant notre top.</p>

			<form>
				<div class="row gtr-50 gtr-uniform">
					<div class="col-8 col-12-mobilep">
						<input type="email" name="email" id="email" placeholder="Votre adresse mail"/>
					</div>
					<div class="col-4 col-12-mobilep">
						<input type="submit" value="S'inscrire" class="fit"/>
					</div>
				</div>
			</form>

		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<li>&copy; Nom du site. Tout Droits Réservés.</li>
			</ul>
		</footer>
	</body>
</div>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
