{% extends 'basefront.html.twig' %}

{% block title %}Liste des streamers{% endblock %}

{% block body %}


<h2 class="text-center">Streamers Français en ligne</h2>

 <div class="container">
        <h1 class="py-1 text-center">Streamers FR</h1>

        <div class="py-2 text-center">
            <button id="LOL" class="btn btn-dark" onclick="getLoLData(LANG)">League Of Legends</button>
            <button id="LOL" class="btn btn-dark" onclick="getValorantData(LANG)">Valorant</button>
            <button id="LOL" class="btn btn-dark" onclick="getTftData(LANG)">Teamfight Tactics</button>
            <button id="LOL" class="btn btn-dark" onclick="getDestiny2Data(LANG)">Destiny 2</button>
        </div>
            <table class="table table" id="myTable">
    <thead class="thead-dark">
      <tr>  
        <th class="text-center" scope="col">Nom</th>
        <th class="text-center" scope="col">Chaîne</th>
        <th class="text-center" scope="col">Intitulé du stream</th>
        <th class="text-center" scope="col">Viewers</th>
      </tr>
    </thead>
    <tbody id="tbody">
    
        <div id="LolBlock" style="display:none">
            <div class="row" id="block1">
            </div>
        </div>
    
    </tbody>
    </table>
</div>
















{% endblock %}