{% extends 'baseback.html.twig' %}
{% block title %}Administration commentaires{% endblock %}

{% block body %}

<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Commentaires</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Liste des commentaires</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Contenu</th>
                      <th>Date de publication</th>
                      <th>actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Contenu</th>
                      <th>Date de publication</th>
                      <th>actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                          {% for commentaire in commentaires %}

                    <tr>
                      <td>{{ commentaire.id }}</td>
                      <td>{{ commentaire.contenu }}</td>
                      <td>{{ commentaire.createdAt ? commentaire.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                      <td>
                        <a href="{{ path('comment', {'id': commentaire.id}) }}">Voir</a>                        
                      </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

{% endblock %}
