{% extends 'baseback.html.twig' %}

{% block title %}Admin Nouveau jeu{% endblock %}

{% block body %}
    <h2 class="text-center">Nouveau jeu</h2>

    {{ include('jeux/_form.html.twig') }}

    <a href="{{ path('jeux_index') }}">back to list</a>
{% endblock %}
